{% extends 'base.html' %}

{% block title %}Nova Reserva{% endblock %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">Crear una nova reserva</h1>
    <div class="mb-4 border p-4 rounded-md shadow-md">
        <h2 class="text-lg font-bold">Dades del Viatge</h2>
        <p><strong>Hora:</strong> {{ viatge.data_hora_inici }}</p>
        <p><strong>Parada Recollida:</strong> {{ viatge.parada_recollida.descripcio }}</p>
        <p><strong>Parada Arribada:</strong> {{ viatge.parada_arribada.descripcio }}</p>
        <p><strong>Places Disponibles:</strong> {{ viatge.places_restants }}</p>
        {% if config.pagament_activat %}<p><strong>Preu:</strong> {{ viatge.import_ }} €</p>{% endif %}
        {% if viatge.observacions %}<p><strong>Observacions:</strong> {{ viatge.observacions }}</p>{% endif %}
    </div>
    <form method="POST" action="{{ url_for('main.create_reserva', viatge_id=viatge.id) }}">
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Acceptar reserva</button>
    </form>
</div>
{% endblock %}