<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avís Legal</title>
    <link href="/path/to/tailwind.css" rel="stylesheet"> <!-- Assegura't d'incloure Tailwind CSS -->
</head>

<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4">1. Identificació del Responsable</h2>
        <p class="mb-4">En compliment de l'article 10 de la Llei 34/2002, d’11 de juliol, de serveis de la societat de la informació i de
            comerç electrònic (LSSI-CE), s’informa als usuaris que aquest lloc web és propietat de:</p>
        <p class="mb-4">
            Responsable: Associació de Veïns del Port de Tortosa - Mont Caro<br>
            Domicili: Ap de correus 109, 43520 Roquetes, Tarragona<br>
            Este lloc web té com a finalitat l'aprofitament de vehicles que munten i baixen del Port.
        </p>

        <h2 class="text-2xl font-bold mb-4">2. Condicions d’Ús</h2>
        <p class="mb-4">L’accés i ús d’esta web impliquen l’acceptació de les condicions següents:</p>
        <ul class="list-disc pl-5 mb-4">
            <li>L’usuari es compromet a fer un ús adequat del web i a no utilitzar-lo per activitats il·lícites o contràries a
                la normativa vigent.</li>
            <li>L’Associació de Veïns del Port de Tortosa - Mont Caro es reserva el dret de modificar el contingut del web en qualsevol moment.</li>
            <li>L’Associació de Veïns del Port de Tortosa - Mont Caro no es fa responsable dels danys derivats d’un ús inadequat del web o d’errors en la
                informació publicada.</li>
        </ul>

        <h2 class="text-2xl font-bold mb-4">3. Propietat intel·lectual</h2>
        <p class="mb-4">Tots els continguts del web (textos, imatges, logotips, disseny, etc.) són propietat de l’Associació de Veïns del Port de Tortosa - Mont Caro
            o de tercers autoritzats. L’ús no autoritzat d’estos continguts pot infringir els drets de propietat intel·lectual.
            Està prohibit copiar, reproduir o distribuir continguts del web sense autorització expressa.</p>

        <h2 class="text-2xl font-bold mb-4">4. Enllaços a Tercers</h2>
        <p class="mb-4">El web pot incloure enllaços a pàgines de tercers. L’Associació de Veïns del Port de Tortosa - Mont Caro no es responsabilitza del contingut o
            polítiques de privacitat d’aquests llocs.</p>

        <h2 class="text-2xl font-bold mb-4">5. Legislació Aplicable</h2>
        <p class="mb-4">Aquestes condicions s’ajusten a la normativa espanyola vigent. En cas de conflicte, les parts es sotmetran als
            jutjats i tribunals de la ciutat de Tortosa.</p>
    </div>
</body>

</html>