<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">


</head>

<body>
    <ul class="list-disc">
        <li>
            <p class="text-normal text-justify text-cyber-app-dark py-2">Com a participant de l’Ebresecuritycon 2025 que tindrà lloc
                a l’Institut de l’Ebre el dia 3 d’abril, reconec, accepto i confirmo, mitjançant aquest document, que assumeixo tota la responsabilitat sobre els meus
                objectes personals i equipament electrònic, incloent-hi ordinadors, monitors, perifèrics, cables, telèfons
                mòbils, videoconsoles i qualsevol altre dispositiu o objecte que porti a les instal·lacions de l’esdeveniment.
            </p>
        </li>
        <li>
            <p class="text-normal text-justify text-cyber-app-dark py-2">Assumeixo que l’Institut de l’Ebre, el seu personal,
                col·laboradors i organitzadors no es faran en cap cas responsables dels danys, pèrdues o robatoris que puguin patir els meus objectes personals durant la
                jornada, sigui durant les conferències o tallers, com durant qualsevol pausa, absència o estona en què els
                equipaments restin sense la meva pròpia vigilància.</p>
        </li>
        <li>
            <p class="text-normal text-justify text-cyber-app-dark py-2">Entenc que l’Institut de l’Ebre, en cap cas es fa càrrec de
                la custòdia del material personal dels participants, i accepto prendre les mesures de seguretat que consideri necessàries per protegir els meus objectes en
                tot moment.</p>
        </li>
        <li>
            <p class="text-normal text-justify text-cyber-app-dark py-2">Atès que el dret a la pròpia imatge està reconegut a
                l’article 18.1 de la Constitució espanyola i regulat per la Llei Orgànica 1/1982, de 5 de maig, i degut a la naturalesa de l’esdeveniment, que inclou activitats i
                tallers de caràcter públic i de participació oberta, la direcció del centre sol·licita el consentiment del
                participant i, en cas de ser menor d’edat, el consentiment dels pares, mares o tutors legals per poder publicar
                fotografies i vídeos en què puguin aparèixer els seus fills o filles.</p>
        </li>
        <li>
            <p class="text-normal text-justify text-cyber-app-dark py-2">Manifesto que he llegit, entès i acceptat les condicions
                expressades i, en conseqüència, eximeixo l’Institut de l'Ebre de qualsevol responsabilitat davant qualsevol incident relacionat amb el meu equip o pertinences,
                assumint les meves responsabilitats com a participant de la jornada. Així mateix, autoritzo que la meva
                imatge pugui aparèixer en els diferents mitjans de comunicació que disposa el centre.</p>
        </li>
    </ul>
</body>

</html>